/**
 * View/Themed/Dirty/webroot/src/css/partials/_layout.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 * @package dirtyrock
 */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Set height/min-height on html/body
// https://stackoverflow.com/a/17555766
html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
}

img {
	max-width: 100%;
	height: auto;
}

.outer-container {
	border: 3px solid $black;
	margin: 10px;
	padding: 1rem;
	min-height: 100%;
	width: 100%;
}

.container {
	max-width: 40em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}


