body {
	width:100%;
	font-size:16px;
}

body,html {
	background:none;
}

div#header {
	width:100%;
	height:90px;
	overflow:hidden;
	background:#000;
}
#header img {
	width:100%;
	display:none;
}

#header h1 {
	color:#fff;
	line-height:90px;

	overflow:hidden;
	white-space: nowrap;
	text-indent:100%;
	background-image:url('../img/header.jpg');
	background-size:contain;
	background-repeat:no-repeat;
}

div#container, div#nav {
	width:auto;
}

div#content-wrap {
	padding:0.75em;
}

div#content {
	width:100%;
	float:none;
}

div#sidebar {
	width:100%;
	float:none;
	clear:both;
}

#bandfoto {
	height:auto;
}

#bandfoto img {
	width:300px;
}

#nav {
	height:auto;
	overflow:hidden;
	top:84px;
}

#nav {
	border-top:1px dotted #ccc;
}

#nav li {
	float:left;
	width:49.7%;
	width:24%;
	margin:0;
	padding:0;
	border-bottom:1px dotted #ccc;
	border-left:1px dotted #ccc;
	height:30px;
}

#nav li a {
	padding:0;
	display:block;
	line-height:30px;
	height:30px;
}

#header-wrapper {
	height:149px;
}

#header h1 {
	/*text-indent:0;*/
	height:auto;
	line-height:auto;
}

h1 {
	font-size:32px;
}


.db-block {
	height:auto;
}

.db-block h2 {
	display:none;
}

#dashboard {
	width:100%;
	left:0;
	padding-left:0;
	padding-right:0;
}

#dashboard li {
	width:16%;
	margin:0;
	padding:0;
	float:left;
	height:30px;
	border:1px dotted #ccc;
	overflow:hidden;
}
#dashboard li a {
	font-family:Verdana,sans;
	font-size:11px;
	color:#444;
	font-weight:bold;
	display:block;
	height:100%;
	line-height:30px;
	text-align:center;
}


.item-list li .list-item-content {
	width:100%;
}

img {
	max-width:100%;
	height:auto!important;
}
