//@import "old";
//@import "mobile";

@import "bourbon/bourbon";
@import "neat/neat";

$bp1:480px;
$bp2:800px;
$bp3:1024px;
$bp4:1280px;
$bp5:1600px;

$tiny-bp:new-breakpoint(max-width $bp1);
$small-bp:new-breakpoint(min-width $bp1 + 1, $max-width $bp2);
$medium-bp:new-breakpoint(min-width $bp2 + 1, $max-width $bp3);
$large-bp:new-breakpoint(min-width $bp3 + 1, $max-width $bp4);
$huge-bp:new-breakpoint(min-width $bp5 + 1);

@import "base";
