@import "settings";

@import "bourbon";
// @import "neat";

@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";
@import "partials/nav";

.main-footer {

	font-size: 15px;
	color: $light-grey;

	.footer-nav {
		margin: 0;
		a {
			margin: 0;
			font-size: 15px;
		}
	}
}

img {
	max-width: 100%;
	&[style] {
		height: auto !important;
	}

	&.cover {
		width: 400px;
		max-width: 100%;
		margin: 0 auto 3rem auto;
		display: block;
		height: auto;
	}
}

.downloadcode {
	.container {
		// width: 400px;
		height: 100%;
		text-align: center;
	}

	.main-content {
		flex: 1 0 auto;
		display: flex;
	}

	.downloadcode-form {
		margin: auto;
	}

	input[type=text] {
		font-size: 48px;
		font-family: Miso, monospace;
		text-align: center;
		// width: 8ch;
		max-width: 10ch;
		margin: 0.75rem auto;
		text-transform: uppercase;
		border: 0;
		background-color: tint($light-grey, 85%);
		padding: 4px 0;

		transition: 150ms;

		&.invalid,
		&:invalid {
			background-color: firebrick;
			color: #fff;
			animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		}

		&.valid {
			background-color: green;
			color: #fff;
		}
	}

	label {
		text-transform: uppercase;
		color: $text-color;
	}

	.info {
		color: $light-grey;

		a {
			color: $light-grey;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.button,
	[type=submit] {
		@include button-reset;
		@include button;

		min-width: 120px;
		height: 30px;

		box-sizing: content-box;

		margin: 0 auto 0 auto;
		font-size: 28px;
		font-family: Miso, sans-serif;

		transition: 150ms ease-out;

		// display: block;

		svg {
			display: none;
			fill: #fff;
		}
		span {
			display: inline-block;
		}
	}

	[type=submit][disabled] {
		opacity: 0;
		cursor: not-allowed;
	}

	.error-message {
		color: firebrick;
	}

	form.busy {
		[type=submit] {
			span {
				display: none;
			}

			svg {
				display: inline-block;
			}
		}

		input[type=text] {
			opacity: 0.2;
		}
	}
}

#flashMessage {
	&.error, &.message {
		border: 2px solid firebrick;
		color: firebrick;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
	}
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
