@import "settings";

@import "bourbon";
// @import "neat";

@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";
@import "partials/nav";

.main-footer {

	font-size: 15px;
	color: $light-grey;

	.footer-nav {
		margin: 0;
		a {
			margin: 0;
			font-size: 15px;
		}
	}
}

img {
	max-width: 100%;
	&[style] {
		height: auto !important;
	}
}

.cover {
	position: relative;
	width: 400px;
	height: 403px;
	margin: 0 auto 3rem auto;
	max-width: 100%;
	background-color: #fff;

	img {
		display: block;
		width: 100%;
	}

	&::after {
		content: '';
		width: 400px;
		height: 400px;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: #000;
		border-radius: 50%;
		transform: translate(0px, 0);
		z-index: -1;
		animation: reveal 0.5s ease-out 0.75s forwards;
	}

	@media screen and (max-width: 480px) {
		width: 280px;
		height: 281px;

		&::after {
			width: 280px;
			height: 280px;
		}
	}
}

.downloadcode {
	.container {
		// width: 400px;
		height: 100%;
		text-align: center;
	}

	.main-content {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.downloadcode-form {
		margin: auto;
	}

	input[type=text] {
		font-size: 48px;
		font-family: Miso, monospace;
		text-align: center;
		// width: 8ch;
		max-width: 10ch;
		margin: 0.75rem auto;
		text-transform: uppercase;
		border: 0;
		background-color: tint($light-grey, 85%);
		padding: 4px 0;

		transition: 150ms;

		&.invalid,
		&:invalid {
			background-color: firebrick;
			color: #fff;
			animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		}

		&.valid {
			background-color: green;
			color: #fff;
		}
	}

	label {
		text-transform: uppercase;
		color: $text-color;
	}

	.info {
		color: $light-grey;

		a {
			color: $light-grey;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.button,
	[type=submit] {
		@include button-reset;
		@include button;

		min-width: 120px;
		height: 30px;

		box-sizing: content-box;

		margin: 0 auto 0 auto;
		font-size: 28px;
		font-family: Miso, sans-serif;

		transition: 150ms ease-out;

		// display: block;

		svg {
			display: none;
			fill: #fff;
		}
		span {
			display: inline-block;
		}
	}

	[type=submit][disabled] {
		opacity: 0;
		cursor: not-allowed;
	}

	.error-message {
		color: firebrick;
	}

	form.busy {
		[type=submit] {
			span {
				display: none;
			}

			svg {
				display: inline-block;
			}
		}

		input[type=text] {
			opacity: 0.2;
		}
	}

	.input.radio {
		border: 3px solid $text-color;
		margin-bottom: 1.5rem;

		display: flex;
		align-items: stretch;


		input {
			display: none;
		}

		label {
			text-transform: none;
			text-align: center;
			width: calc(100% / 3);
			border-left: 3px solid $text-color;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 14px;
			cursor: pointer;

			.small {
				// font-size: 10px;
				color: $light-grey;
				font-size: inherit;

				@media screen and (max-width: 479px) {
					display: block;
					line-height: 1;
					padding-bottom: 3px;
				}
			}

			&:first-of-type {
				border-left: none;
			}
		}

		input[type=radio]:checked + label {
			background-color: $text-color;
			color: #fff;

			small {
				color: #fff;
			}
		}
	}
}

.thank-you {
	> span {
		font-size: 1.5em;
		display: inline;
		box-decoration-break: clone;
		color: #fff;
		background-color: $text-color;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		padding: 0 0.3333em;
		line-height: 1.25;
	}
}

#flashMessage {
	&.error, &.message {
		border: 2px solid firebrick;
		color: firebrick;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
	}
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

@keyframes reveal {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(30px, 0, 0);
	}
}
