/**
 * _layout.scss
 *
 * @author Johannes Braun <johannes.braun@hannenz.de>
 */

*, *::before, *::after {
	box-sizing:inherit;
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box;
}

body {
	background-color:#fff;
}

.container {
	max-width:1920px;
	margin:0 auto;
}

.main-header {
	background-color:#202020;
	padding:1.5rem 0 0 0;
	h1 {
		a {
			min-height:6rem;
			display:block;
			background-image:url('/img/logo.svg');
			background-size:contain;
			overflow:hidden;
			text-indent:100%;
			white-space:nowrap;
			background-repeat:no-repeat;
			background-position:50%;
			margin-bottom:1.5rem;
		}
	}
}

.main-nav {

	position:relative;
	padding-top:1.75rem;
	padding-bottom:1.5rem;

	&::before {
		content:'';
		height:12px;
		background-color:#fff;
		position:absolute;
		top:0px;
		left:0;
		right:0;
		
	}

	&::after {
		content:'';
		height:5px;
		background-color:#fff;
		position:absolute;
		bottom:10px;
		left:0;
		right:0;

	}

	ul {
		@include outer-container();
		list-style-type:none;

		li {
			@include span-columns(2);
			a {
				display:block;
				color:#fff;
				text-decoration:none;
				text-transform:uppercase;
				font-family:'BebasNeueRegular';
				font-size:1.5em;
				text-align: center;

			}
		}
	}
}

.mood {
	background-image:url('../img/band-2.jpg');
	background-size:cover;
	// background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:50% 0%;
	height:600px;
	max-height:600px;
	overflow:hidden;
}

.main-content {
	@include outer-container();
	margin-top:3rem;
	margin-bottom:3rem;

}